* {
  background-color: black;
  color: white;
}

.teste {
  font-family: "Comfortaa", sans-serif;
  font-weight: normal;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
}

h3 {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 36px;
}

button {
  border-radius: 60px;
  border: none;
  background-color: yellow;
  color: black;
  padding: 10px 20px;
}
