.text_common {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: #000000;
}

.text_menu_button {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: var(--white);
}

.register_button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: var(--white);
}

.title_1 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: #000000;
}

.title_2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #000000;
}

.text_login_button {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #ffffff;
}

.text_login_page {
  font-family: "Poppins";
  font-size: 14px;
  color: #000000;
  font-weight: 500;
}

.privacy_terms {
  font-family: "Poppins";
  font-weight: 600;
}

.poppins_medium {
  font-family: "Poppins";
}

.text_forgot_password {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #476ee6;
}

.checkbox_text {
  font-size: 13px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.already_an_user {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--gray);
}

.login_link {
  color: var(--blue);
}

.menu_text_selected {
  color: var(--blue);
}

.menu_text_common {
  color: var(--gray);
}

.menu_text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.profile_button_text {
  font-family: "Comfortaa", sans-serif;
  font-size: 15px;
}

.dashboard_title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: var(--blue);
}

.cards_text {
  font-size: 13px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.modal_text {
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.modal_text_delete {
  color: var(--red);
}
